<div>
  <h3> Buy One-hour card</h3>
  <form [formGroup]="buyForm" (ngSubmit)="createTicket()">
      <label>
          Email:
          <input type="text" formControlName="email" placeholder="example@mail.com" />
        </label>
       <button type="submit" class="btn btn-warning">Buy</button>
       <div id="paypal-checkout-btn"></div>
       <div>
          <hr>
          <h2 align="center">Check In One-hour ticket</h2>
            <table align="center" border='1'>
                <tr>
                    <th>ID</th>
                    <th>Bought time</th>
                    <th>Check in time</th>   
                    <th>Check in</th>      
           
                  </tr>
                  <tr *ngFor="let item of tickets">
                      <td >{{item.Id}}</td>
                      <td>{{item.TimeIssued | date: 'short'}}</td>
                      <td>{{item.CheckIn | date: 'short'}}</td>
                      <td *ngIf= "!item.CheckIn && Rola"><button (click)="checkIn(item.Id)">Check in</button></td>
                      <div *ngIf= "item.CheckIn"><td>Checked in</td></div>
                  </tr>
            </table>
          </div>
          <div *ngIf="!mes">
              <h2 align="center">There is no One-hour ticket</h2>
          </div>
            </form>

   